*.iml
.gradle
/.gradle/
/build/
/.idea
build/
/buildSrc/.gradle/
/buildSrc/build
/buildSrc/.gradle
/local.properties
/.idea/caches
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties

# Mac OS X
*.DS_Store
*.DS_STORE

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcsmblueprint
xcuserdata/
xcshareddata/
contents.xcworkspacedata